  body {
    /* background: url('../../assets/image/video.gif') no-repeat top center/cover; */

  }

  .container {
    /* position: relative; */
    height: 100%;
  }

  .video {
    height: auto;
    width: 100%;
    float: left;
    top: 0;
    padding: unset;
    position: fixed;
  }
  
  .div-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .div-loading > span {
   color: #d90d7a;
  }

  .loading-icon svg {
    width: 45px;
    height: 45px;
  }

  .div-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    flex: 1;
  }

  .mr15 {
    margin-right: 15px;
  }

  .rodal-dialog {
    background-image: url('../../assets/image/Window.png') !important;
  }
