  body {
    /* background: url('../../assets/image/video.gif') no-repeat top center/cover; */

  }

  .container {
    /* position: relative; */
    height: 100%;
  }

  .rodal-dialog {
    background:transparent url('../../assets/image/Window.png') no-repeat center center/contain !important;
    width: 685px!important;
    height: 188px!important;
    box-shadow: unset!important;
    padding: 2.5% 2% 1% 2%!important;
    top: 71%!important;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin: 0 auto!important
  }

  .rodal-mask {
    position: absolute;
    background: transparent!important;
  }
  .video {
    width: 100%;
    top: 50%;
    left: 0;
    position: fixed;
    transform: translate(0%, -50%);
  }

  .div-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .div-loading > span {
   color: #d90d7a;
  }

  .loading-icon svg {
    width: 45px;
    height: 45px;
  }

  .content-modal {
    /*font-size: 30px;*/
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.5rem;
    margin: 0;
  }

  .form-style {
    padding: 0 20%!important;
  }

  .form-style .ant-form-item {
    margin-bottom: 0!important;
  }

  .div-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*margin: auto;*/
  }

  .div-button .ant-btn{
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 0;
    margin-left: 7px;
    margin-right: 7px;
    height: 42px;
    min-width: 25%;
    box-shadow: 0 2px 2px hsla(0,  0%, 0%, 0.2);
  }

  .div-button .left-btn:hover,
  .div-button .left-btn:active,
  .div-button .left-btn:focus {
    color: white;
    background-color: #106DE4;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    border: unset;
  }

  .div-button .right-btn:hover,
  .div-button .right-btn:active,
  .div-button .right-btn:focus {
    color: black;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    border: unset;
  }

  .div-button .left-btn {
    color: white;
    background-color: #106DE4;
  }

  .div-button .right-btn {
    color: black;
    background-color: white;
    /* border: 1px solid hsla(0, 0%, 0%, 0.2); */
  }
  .mr15 {
    margin-right: 15px;
  }
  .mb15 {
    margin-bottom: 15px;
  }

  .m-auto {
    margin: auto 0;
  }

  @media screen and (max-width: 1280px) {
    .rodal-dialog {
      top: 50%!important;
    }
  }

  @media screen and (max-width: 991px) {
    .rodal-dialog {
      width: 585px!important;
      height: 170px!important;
      /*padding: 21px !important;*/
    }

    .content-modal {
      padding-top: 1rem;
    }

    .div-button .ant-btn{
      font-size: 15px;
      font-weight: 500;
      border-radius: 8px;
      border: 0;
      height: 35px;
      box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.2);
    }
  }
  @media screen and (max-width: 768px) {
    .rodal-dialog {
      width: 100%!important;
      height: 28vw!important;
      padding: 3.5% 3.5% 1% 3.5%!important;
    }

    .content-modal {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 560px) {
    .content-modal {
      font-size: 1rem;
    }
    .div-button .ant-btn {
      font-size: 10px;
      border-radius: 5px;
      height: 25px;
    }
  }
  @media screen and (max-width: 375px) {
    .rodal-dialog {
      top: 47%!important;
    }
    .content-modal {
      font-size: 1rem;
    }
  }

